alabaster==0.7.12
altgraph==0.17
asgiref==3.2.10
attrs==19.3.0
auto-py-to-exe==2.7.5
backcall==0.2.0
backports.csv==1.0.7
bleach==3.1.5
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2018.4.16
chardet==3.0.4
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==3.0.8
django-bootstrap3==10.0.1
django-contrib-comments==1.8.0
django-filter==1.1.0
django-heroku==0.3.1
django-import-export==1.2.0
django-taggit==1.1.0
djangorestframework==3.8.2
Eel==0.12.4
entrypoints==0.3
et-xmlfile==1.0.1
future==0.18.1
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
gunicorn==19.8.1
idna==2.7
ipykernel==5.3.3
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
linecache2==1.0.0
Markdown==3.2.1
MarkupSafe==1.1.1
minepy==1.2.4
mistune==0.8.4
mysqlclient==2.0.1
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.19.0
odfpy==1.4.0
openpyxl==2.6.2
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.6.0
Pygments==2.6.1
PyInstaller==3.6
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-decouple==3.3
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
python-nmap==0.1.4
pytz==2018.5
PyYAML==5.1.1
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
requests==2.19.1
Send2Trash==1.5.0
Shapely==1.7.0
six==1.15.0
sqlparse==0.3.0
tablib==0.13.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traceback2==1.4.0
traitlets==4.3.3
ujson==1.35
unittest2==1.1.0
urllib3==1.23
wcwidth==0.2.5
webencodings==0.5.1
whichcraft==0.6.1
whitenoise==3.3.1
widgetsnbextension==3.5.1
xlrd==1.2.0
xlwt==1.3.0
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
